<app-nav-bar [darkMode]="true"></app-nav-bar>
<div class="bar"></div>
<div class="contact">
  <div class="contact__info">
    <h5 class="text-xs fw-700">Designo Central Office</h5>
    <h6 class="text-xs fw-400">3886 Wellington Street</h6>
    <h6 class="text-xs fw-400">Toronto, Ontario M9C 3J5</h6>
  </div>
  <div class="contact__info">
    <h5 class="text-xs fw-700">Contact Us (Central Office)</h5>
    <h6 class="text-xs fw-400">P : +1 253-863-8967</h6>
    <h6 class="text-xs fw-400">M : contact@designo.co</h6>
  </div>
  <div class="contact__social">
    <a href="https://facebook.com" target="_blank" class="contact__link">
      <img class="first" src="assets/shared/desktop/icon-facebook.svg" alt="facebook">
      <img class="second" src="assets/shared/desktop/icon-facebook-hover.svg" alt="facebook">
    </a>
    <a href="https://youtube.com" target="_blank" class="contact__link">
      <img class="first" src="assets/shared/desktop/icon-youtube.svg" alt="youtube">
      <img class="second" src="assets/shared/desktop/icon-youtube-hover.svg" alt="youtube">
    </a>
    <a href="https://twitter.com" target="_blank" class="contact__link">
      <img class="first" src="assets/shared/desktop/icon-twitter.svg" alt="twitter">
      <img class="second" src="assets/shared/desktop/icon-twitter-hover.svg" alt="twitter">
    </a>
    <a href="https://pinterest.com" target="_blank" class="contact__link">
      <img class="first" src="assets/shared/desktop/icon-pinterest.svg" alt="pinterest">
      <img class="second" src="assets/shared/desktop/icon-pinterest-hover.svg" alt="pinterest">
    </a>
    <a href="https://instagram.com" target="_blank" class="contact__link">
      <img class="first" src="assets/shared/desktop/icon-instagram.svg" alt="instagram">
      <img class="second" src="assets/shared/desktop/icon-instagram-hover.svg" alt="instagram">
    </a>
  </div>
</div>
