<div class="relative">
  <img src="assets/shared/desktop/bg-pattern-leaf.svg" alt="leaf" class="contact__img">
  <app-big-banner>
    <span class="head">Contact Us</span>
    <span class="text">
      Ready to take it to the next level? Let’s talk about your project or idea and find out how
      we can help your business grow. If you are looking for unique digital experiences that’s
      relatable to your <br> users, drop us a line.
    </span>
    <form class="form right-side">
      <input type="text" class="form__input text-xs text-white fw-500" placeholder="Name">
      <input type="email" class="form__input text-xs text-white fw-500" placeholder="Email Address">
      <input type="text" class="form__input text-xs text-white fw-500" placeholder="Phone">
      <textarea class="form__input form__area  text-xs text-white fw-500" placeholder="Your Message"></textarea>
      <button class="btn btn-light">Submit</button>
    </form>
  </app-big-banner>
  <section class="locations relative">
    <app-location-card></app-location-card>
  </section>
</div>
