<div class="grid grid-3 mb">
  <div class="location">
    <figure class="location__img relative">
      <div class="peach-mask"></div>
      <img src="assets/shared/desktop/illustration-canada.svg" alt="Canada" class="relative">
    </figure>
    <h4 class="location__header text-upper text-dark ls-5 fw-500 text-sm">Canada</h4>
    <button class="btn btn-peach">See location</button>
  </div>
  <div class="location">
    <figure class="location__img relative">
      <div class="peach-mask"></div>
      <img src="assets/shared/desktop/illustration-australia.svg" alt="Australia" class="relative">
    </figure>
    <h4 class="location__header text-upper text-dark ls-5 fw-500 text-sm">Australia</h4>
    <button class="btn btn-peach">See location</button>
  </div>
  <div class="location">
    <figure class="location__img relative">
      <div class="peach-mask"></div>
      <img src="assets/shared/desktop/illustration-united-kingdom.svg" alt="United Kingdom" class="relative">
    </figure>
    <h4 class="location__header text-upper text-dark ls-5 fw-500 text-sm">United Kingdom</h4>
    <button class="btn btn-peach">See location</button>
  </div>
</div>
