@import 'layout';
@import 'components';
@import 'mixins';

.banner {
  height: 29.2rem;
  position: relative;
  padding: 7.2rem 9.6rem 4.6rem 9.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  @include tablet-wide {
    height: 35rem;
    flex-direction: column;
  }

  &__info {
    width: 45.9rem;

    @include tablet-wide {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    h4 {
      width: 30rem;
      margin-bottom: 1.8rem;
    }
  }

  .ball {
    position: absolute;
    right: 0;
    z-index: 0;
  }

  .btn {
    position: relative;
    z-index: 1;
  }
}

.bg {
  height: 7.2rem;
  background: $black;
  margin-top: -7.2rem;
}
