<div class="relative">
  <img src="assets/shared/desktop/bg-pattern-leaf.svg" alt="leaf" class="leaf leaf--1">
  <img src="assets/shared/desktop/bg-pattern-leaf.svg" alt="leaf" class="leaf leaf--2">
  <app-big-banner [page]="'about'">
    <span class="head">About Us</span>
    <span class="text">
      Founded in 2010, we are a creative agency that produces lasting results
      for our clients. We’ve partnered with many startups, corporations, and
      nonprofits alike to craft designs that make real impact. We’re always
      looking forward to creating brands, products, and digital experiences
      that connect with our clients’ audiences.
    </span>
    <img src="assets/about/desktop/image-about-hero.jpg" alt="hero" class="note right-side desktop">
    <img src="assets/about/tablet/image-about-hero.jpg" alt="hero" class="note right-side tablet relative">
    <img src="assets/about/mobile/image-about-hero.jpg" alt="hero" class="note right-side mobile relative">
  </app-big-banner>
  <section class="board relative mb br-15 br-15-reset mobile-full">
    <img src="assets/about/desktop/image-world-class-talent.jpg" alt="world-class" class="board__img board__img--1 desktop">
    <img src="assets/about/tablet/image-world-class-talent.jpg" alt="world-class" class="board__img board__img--1 tablet">
    <img src="assets/about/mobile/image-world-class-talent.jpg" alt="world-class" class="board__img board__img--1 mobile">
    <div class="board__info relative">
      <h3 class="text-mds text-peach fw-500">World-class talent</h3>
      <div class="board__details">
        <p class="text-xs text-xs-s text-dark fw-400">
          We are a crew of strategists, problem-solvers, and technologists. Every design is thoughtfully
          crafted from concept to launch, ensuring success in its given market. We are constantly updating
          our skills in a myriad of platforms.
        </p>
        <p class="text-xs text-xs-s text-dark fw-400">
          Our team is multi-disciplinary and we are not merely interested in form — content and meaning
          are just as important. We give great importance to craftsmanship, service, and prompt delivery.
          Clients have always been impressed with our high-quality outcomes that encapsulates their
          brand’s story and mission.
        </p>
      </div>
    </div>
  </section>
  <section class="locations relative">
    <app-location-card></app-location-card>
  </section>
  <section class="board relative mb br-15 br-15-reset mobile-full">
    <div class="board__info relative">
      <h3 class="text-mds text-peach fw-500">The real deal</h3>
      <div class="board__details board__details--2">
        <p class="text-xs text-dark fw-400">
          As strategic partners in our clients’ businesses, we are ready to take on any challenge as our own.
          Solving real problems require empathy and collaboration, and we strive to bring a fresh perspective to every
          opportunity. We make design and technology more accessible and give you tools to measure success.
        </p>
        <p class="text-xs text-dark fw-400">
          We are visual storytellers in appealing and captivating ways. By combining business and marketing strategies,
          we inspire audiences to take action and drive real results.
        </p>
      </div>
    </div>
    <img src="assets/about/desktop/image-real-deal.jpg" alt="real-deal" class="board__img  board__img--2 desktop">
    <img src="assets/about/tablet/image-real-deal.jpg" alt="real-deal" class="board__img  board__img--2 tablet">
    <img src="assets/about/mobile/image-real-deal.jpg" alt="real-deal" class="board__img  board__img--2 mobile">
  </section>
</div>
