<section class="mb">
  <div class="grid grid-3 wrapper">
    <div class="location br-15 relative">
      <img src="assets/shared/desktop/bg-pattern-two-circles.svg" alt="ball" class="ball">
      <h2 class="text-mds text-peach fw-500">Canada</h2>
        <div class="location__info grid">
          <div class="location__detail">
            <h5 class="text-xs text-dark fw-700">Designo Central Office</h5>
            <h6 class="text-xs text-dark fw-400">3886 Wellington Street</h6>
            <h6 class="text-xs text-dark fw-400">Toronto, Ontario M9C 3J5</h6>
          </div>
          <div class="location__detail">
            <h5 class="text-xs text-dark fw-700">Contact</h5>
            <h6 class="text-xs text-dark fw-400">P : +1 253-863-8967</h6>
            <h6 class="text-xs text-dark fw-400">M : contact@designo.co</h6>
          </div>
        </div>
    </div>
    <div id="canada" class="map br-15"></div>
  </div>
  <div class="grid grid-3 wrapper">
    <div id="australia" class="map br-15"></div>
    <div class="location location__alt br-15 relative">
      <img src="assets/shared/desktop/bg-pattern-two-circles.svg" alt="ball" class="ball">
      <h2 class="text-mds text-peach fw-500">Australia</h2>
        <div class="location__info grid">
          <div class="location__detail">
            <h5 class="text-xs text-dark fw-700">Designo AU Office</h5>
            <h6 class="text-xs text-dark fw-400">19 Balonne Street</h6>
            <h6 class="text-xs text-dark fw-400">New South Wales 2443</h6>
          </div>
          <div class="location__detail">
            <h5 class="text-xs text-dark fw-700">Contact</h5>
            <h6 class="text-xs text-dark fw-400">P : (02) 6720 9092</h6>
            <h6 class="text-xs text-dark fw-400">M : contact@designo.au</h6>
          </div>
        </div>
    </div>
  </div>
  <div class="grid grid-3 wrapper">
    <div class="location br-15 relative">
      <img src="assets/shared/desktop/bg-pattern-two-circles.svg" alt="ball" class="ball">
      <h2 class="text-mds text-peach fw-500">United Kingdom</h2>
        <div class="location__info grid">
          <div class="location__detail">
            <h5 class="text-xs text-dark fw-700">Designo UK Office</h5>
            <h6 class="text-xs text-dark fw-400">13 Colorado Way</h6>
            <h6 class="text-xs text-dark fw-400">Rhyd-y-fro SA8 9GA</h6>
          </div>
          <div class="location__detail">
            <h5 class="text-xs text-dark fw-700">Contact</h5>
            <h6 class="text-xs text-dark fw-400">P : 078 3115 1400</h6>
            <h6 class="text-xs text-dark fw-400">M : contact@designo.uk</h6>
          </div>
        </div>
    </div>
    <div id="uk" class="map br-15"></div>
  </div>
</section>
