@import 'mixins';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile-wide {
    &--dark {
      justify-content: center;
    }
  }

  &__logo {
    width: 20.2rem;
    height: 2.7rem;
  }

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 37rem;

    @include mobile-wide {
      display: none;
    }
  }

  &__item {
    font-weight: $fw-400;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }

  &__link {
    text-decoration: none;
    color: $dark-grey;

    &--white {
      color: $white;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
