@import 'layout';
@import 'components';


.products {
  row-gap: 3.2rem;
}
.design {
  height: 30.8rem;
}

.leaf {
  width: 100.6rem;
  height: 59.4rem;
  position: absolute;
  top: 12.6rem;
  left: -16.5rem;
}
