@import 'layout';
@import 'components';
@import 'mixins';


.products {
  row-gap: 3.2rem;
}
.design {
  height: 30.8rem;
  @include tablet-wide {
    height: 42.4rem;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2.4rem;
  }
}

.leaf {
  top: 12.6rem;
  left: -16.5rem;
}
